@model CommonSolutions.DTO.DtoCompra

@{
    ViewBag.Title = "CompraConfirmada";
}

<h1>Felicitaciones!!!</h1>
<h2>Su compra ha sido confirmada con el N° @Model.idCompra</h2>

<p>Acceda al video infromativo del la Aeronave en la que viajara!</p>

