@{
    ViewBag.Title = "Panel Administrador";
}
<!DOCTYPE html>
<html>
<head>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
</head>
<body>
    <div id="welcome-content">
        <h1>BIENVENIDO AL SISTEMA DE GESTION </h1>
        <h1>DE ALAS PUM AIRLINES</h1>
    </div>
</body>
</html>
<style>
    body {
        background-image: url(../../Content/img/777.jpg);
        background-repeat: no-repeat;
        background-size: contain;
      
    }

    #welcome-content {
        text-align: center;
        font-family: 'Roboto', sans-serif;
        text-shadow: 4px 4px 4px #d1cccc;
        margin: 16% 0 27% 5%;
    }
</style>
